* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form {
    background-color: var(--cor-background-modal);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  form h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  #form-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .item-input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .item-input label {
    margin-bottom: 0.3rem;
  }
  
  .item-input input {
    color: black;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .item-input input:focus {
    border-color: var(--cor-botao-azul);
    outline: none;
  }
  
  button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.7rem;
    background-color: var(--cor-botao-azul);
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  #button-cadastro {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a:hover {
    color: #0056b3;
  }